Repository davistroy/board-journal: changes, and which lefthook commands are due for each by the changed paths.
All: flutter-analyze, dart-analyze-backend

lefthook.yml:

# Lefthook configuration for Boardroom Journal
# Install: npm install -g @evilmartians/lefthook && lefthook install
# Or: brew install lefthook && lefthook install

pre-commit:
  parallel: true
  commands:
    flutter-format:
      glob: "*.dart"
      exclude: "*.g.dart|*.freezed.dart"
      run: dart format --set-exit-if-changed {staged_files}

    flutter-analyze:
      glob: "*.dart"
      run: flutter analyze --no-fatal-infos lib

    dart-analyze-backend:
      glob: "backend/**/*.dart"
      run: cd backend && dart analyze --fatal-infos

pre-push:
  parallel: true
  commands:
    flutter-test:
      run: flutter test --reporter compact

    backend-test:
      run: cd backend && dart test

# Skip hooks when merging or rebasing
skip_merge: true
skip_rebase: true

docs: consolidate and restructure deployment documentation
  DEPLOY.md
  backend/DEPLOYMENT.md
Due: none

fix: replace print statements with stdout/stderr to fix CI analysis
  backend/bin/server.dart
  backend/lib/middleware/middleware.dart
Due: flutter-analyze, dart-analyze-backend

fix: remove unused dart:convert import from sync_service.dart
  backend/lib/services/sync_service.dart
Due: flutter-analyze, dart-analyze-backend

fix: resolve additional CI analysis issues
  backend/test/routes/sync_routes_test.dart
  lib/services/scheduling/background_task_handler.dart
Due: flutter-analyze, dart-analyze-backend

fix: remove unused dart:convert import from auth_routes_test.dart
  backend/test/routes/auth_routes_test.dart
Due: flutter-analyze, dart-analyze-backend

fix: remove unused dart:typed_data import from apple_auth_service.dart
  backend/lib/services/apple_auth_service.dart
Due: flutter-analyze, dart-analyze-backend

ci: add verbose output to analyze steps for debugging
  .github/workflows/ci.yml
Due: none

ci: use default analyzer settings to identify issues
  .github/workflows/ci.yml
Due: none

ci: allow analyze failures to continue and run tests
  .github/workflows/ci.yml
Due: none

ci: make build check optional and skip if platform dirs missing
  .github/workflows/ci.yml
Due: none

docs: add web support implementation plan for record package 6.x upgrade
  IMPLEMENTATION_PLAN.md
Due: none

chore: upgrade record package from 5.1.2 to 6.1.0
  pubspec.yaml
Due: none

feat: add web audio recording support (Phase 2)
  lib/providers/audio_providers.dart
  lib/providers/audio_providers_io.dart
  lib/providers/audio_providers_web.dart
  lib/services/ai/transcription_io.dart
  lib/services/ai/transcription_service.dart
  lib/services/ai/transcription_web.dart
  lib/services/audio/audio_recorder_io.dart
  lib/services/audio/audio_recorder_service.dart
  lib/services/audio/audio_recorder_web.dart
  lib/utils/platform_utils.dart
Due: flutter-analyze

feat: add web database and storage support (Phase 3)
  lib/data/database/database.dart
  lib/services/auth/token_storage.dart
  lib/services/auth/token_storage_io.dart
  lib/services/auth/token_storage_web.dart
  lib/services/scheduling/brief_scheduler_io.dart
  lib/services/scheduling/brief_scheduler_service.dart
  lib/services/scheduling/brief_scheduler_web.dart
  pubspec.yaml
Due: flutter-analyze

feat: add web platform configuration (Phase 4)
  CLAUDE.md
  web/index.html
  web/manifest.json
Due: none

fix: update tests to use TokenStorage.forTesting constructor
  test/services/auth/auth_service_test.dart
  test/services/auth/token_storage_test.dart
Due: flutter-analyze

docs: document web platform support completion
  PROGRESS.md
Due: none

fix: add forTesting constructor to BriefSchedulerService
  lib/services/scheduling/brief_scheduler_service.dart
  test/services/scheduling/brief_scheduler_service_test.dart
Due: flutter-analyze

fix: override briefSchedulerServiceProvider in tests
  test/providers/scheduling_providers_test.dart
Due: flutter-analyze

fix: override tokenStorageProvider in auth provider tests
  test/providers/auth_providers_test.dart
Due: flutter-analyze

fix: add tokenStorageProvider override in onboarding tests
  test/ui/screens/onboarding_test.dart
Due: flutter-analyze

fix: replace brittle Future.delayed with proper async wait in tests
  test/providers/settings_providers_test.dart
Due: flutter-analyze

ci: add verbose test output to show failing test details
  .github/workflows/ci.yml
Due: none

ci: output failed tests to GitHub step summary
  .github/workflows/ci.yml
Due: none

docs: retroactive BRIEF with kill criteria (disposition pending)
  BRIEF.md
Due: none

chore: snapshot uncommitted WIP before archival
  .gitignore
  CLAUDE.md
  GITHUB_ERRORS.md
Due: none

docs: record Troy's ARCHIVE verdict in BRIEF (item 14 sign-off)
  BRIEF.md
Due: none

docs: mark project archived (2026-07)
  README.md
Due: none
